@font-face  {
	font-family: "ITC Avant Garde";
	src: url("aggmed.otf");
}
body {
	    font-size: 1.2em;
            background-color: #ffe0bd;
            margin: 10px;
            padding: 10px;
	    font-family: "ITC Avant Garde";
	    font-weight: lighter;
	    text-align: center;
         
	    
        }
h1  {
	   
	   padding: 10px;
	   margin: 30px;
	   text-align:	center;
	   font-size: 280%;
	   font-family: "ITC Avant Garde";

}

h2  {
	   
	   padding: 10px;
	   margin: 10px;	   
	   
}

p  {
	 padding: 10px;
}  

class.nav {
	text-align: center;
	color: black;
}
	
}

ul  {
	padding: 5%;
	text-align:	center;
	font-size: 150%;
	color: white;
	
}

ul li  {
	display: inline;
	padding: 30px;
	color: white;
	
	

}

#intro {
	display:  inline;
	font-size: 900%;
	 background: url("media/images/city.png");
	     background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
	
}

#intro, h1  {
	display: inline;
}

#intro a:link  {
	text-decoration: none;
}

#c {
	color: red;
	
}

#f {
	color: blue;
	
}

#ff {
	color: yellow;
	
}

@media screen and (max-width: 480px) {
	#intro { font-size: 100%;
	}
}
@media screen and (min-width: 481px) and (max-width: 700px) {
	#intro { font-size: 300%;
	}
}
@media screen and (min-width: 701px) and (max-width: 1250px) {
	#intro { font-size: 600%;
	}
}


	


