@font-face  {
	font-family: "ITC Avant Garde";
	src: url("aggmed.otf");
}
body {
	    font-size: 1.2em;
            background-color: #ffe0bd;
            margin: 10px;
            padding: 10px;
	    font-family: "ITC Avant Garde";
	    font-weight: lighter;
         
	    
        }
h1  {
	   
	   padding: 10px;
	   margin: 30px;
	   text-align:	center;
	   font-size: 280%;
	   font-family: "ITC Avant Garde";

}

h2  {
	   
	   padding: 10px;
	   margin: 10px;	   
	   
}

p  {
	  text-align: center;
	  padding: 10px;
}  

a:link  {
	text-align: center;
	color: white;
}

ul  {
	padding: 5%;
	text-align:	center;
	font-size: 150%;
}

ul li  {
	display: inline;
	padding: 30px;
	

}

#intro {
		font-size: 1000%;
		display: inline;
}

#intro a:link {
	color: yellow;
}

#intro c {
	color: blue 
}

#intro f {
	color: yellow
}

#intro ff {
	color: red
}
	


